body{
    background-color: purple;
}
#mainContent{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: palevioletred;
    padding:20px ;
    border-radius: 10px;
    /*width: 400px;*/
    width: 600px;
}
#other{
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: palevioletred;
    
}
button{
    background-color: purple;
    color: white;
    border: none;
    padding:10px 15px 10px 15px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    
}
input{
    cursor: pointer;
}
select{
    cursor: pointer;
}