body{
    background-color: purple;
}
#mainContent{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: palevioletred;
    padding:20px ;
    border-radius: 10px;
    /*width: 400px;*/
    width: 600px;
}
